# Final Project

In [2]:
import pandas as pd

In [31]:
temperatures = pd.read_csv("data/temperature.csv")
temperatures['Date'] = pd.to_datetime(temperatures['Date'].astype(str), format='%Y%m').dt.to_period('M')

wildfires = pd.read_csv("data/wildfires.csv")
wildfires['Date'] = pd.to_datetime(wildfires['Date'].astype(str), format='%Y%m').dt.to_period('M')

hurricane = pd.read_csv("data/hurricane.csv")
hurricane['Date'] = hurricane['year'].astype(str) + "-" + hurricane['month'].astype(str).str.zfill(2) + "-" + hurricane['day'].astype(str).str.zfill(2)
hurricane['Date'] = pd.to_datetime(hurricane['Date'], format="%Y-%m-%d").dt.to_period('M')

tornadoes = pd.read_csv("data/tornadoes.csv")
tornadoes['Date'] = pd.to_datetime(tornadoes['Date'].astype(str), format='%Y%m').dt.to_period('M')

new_tornadoes = pd.read_csv("data/1950-2023_actual_tornadoes.csv")
new_tornadoes['Date'] = pd.to_datetime(new_tornadoes['date'], format="%Y-%m-%d").dt.to_period('M')

display(temperatures)
display(wildfires)
display(hurricane)
display(tornadoes)
display(new_tornadoes)

         Date  Value  Anomaly
0     1895-01  26.69    -3.43
1     1895-02  26.60    -7.22
2     1895-03  39.97    -1.53
3     1895-04  52.88     1.84
4     1895-05  59.92    -0.27
...       ...    ...      ...
1553  2024-06  71.78     3.31
1554  2024-07  75.69     2.10
1555  2024-08  73.98     1.90
1556  2024-09  68.59     3.75
1557  2024-10  58.98     4.88

[1558 rows x 3 columns]

        Date  Acres Burned  Number of Fires  Acres Burned per Fire
0    2000-01         40757             2796                  14.58
1    2000-02        168210             5671                  29.66
2    2000-03        340899            10312                  33.06
3    2000-04        182713             9236                  19.78
4    2000-05        294493            11850                  24.85
..       ...           ...              ...                    ...
293  2024-06        421828             3472                 121.49
294  2024-07       2018399             6943                 290.71
295  2024-08       1887352             5477                 344.60
296  2024-09       1579679             5042                 313.30
297  2024-10         75882             8111                   9.36

[298 rows x 4 columns]

,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter,Date
0,Amy,1975,6,27,0,27.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN,1975-06
1,Amy,1975,6,27,6,28.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN,1975-06
2,Amy,1975,6,27,12,29.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN,1975-06
3,Amy,1975,6,27,18,30.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN,1975-06
4,Amy,1975,6,28,0,31.5,-78.8,tropical depression,NaN,25,1012,NaN,NaN,1975-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19061,Wanda,2021,11,7,0,37.4,-37.4,tropical storm,NaN,35,1003,60.0,0.0,2021-11
19062,Wanda,2021,11,7,6,38.1,-36.4,tropical storm,NaN,35,1004,60.0,0.0,2021-11
19063,Wanda,2021,11,7,12,39.2,-34.9,other low,NaN,35,1006,90.0,0.0,2021-11
19064,Wanda,2021,11,7,18,40.9,-32.8,other low,NaN,40,1006,90.0,0.0,2021-11
19065,Wanda,2021,11,8,0,43.2,-29.7,other low,NaN,40,1006,70.0,0.0,2021-11

        Date Tornadoes  Fatalities
0    1950-01         7           1
1    1950-02        20          45
2    1950-03        21           1
3    1950-04        15          12
4    1950-05        61           2
..       ...       ...         ...
893  2024-06      166*           1
894  2024-07      221*           2
895  2024-08       91*           1
896  2024-09       73*           2
897  2024-10       53*           6

[898 rows x 3 columns]

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,Date
0,192,1950,10,1,1950-10-01,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,1950-10
1,193,1950,10,9,1950-10-09,02:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,1950-10
2,195,1950,11,20,1950-11-20,02:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,1950-11
3,196,1950,11,20,1950-11-20,04:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,1950-11
4,197,1950,11,20,1950-11-20,07:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,1950-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70017,623328,2023,9,26,2023-09-26,15:05:00,3,FL,12,0,...,5,1,1,1,19,0,0,0,0,2023-09
70018,623329,2023,9,28,2023-09-28,13:40:00,3,OH,39,0,...,25,1,1,1,97,0,0,0,0,2023-09
70019,623330,2023,9,29,2023-09-29,18:48:00,3,MN,27,0,...,25,1,1,1,171,0,0,0,0,2023-09
70020,623304,2023,9,2,2023-09-02,10:11:00,3,LA,22,0,...,75,1,1,1,51,0,0,0,0,2023-09
70021,623305,2023,9,9,2023-09-09,15:30:00,3,AZ,4,0,...,10,1,1,1,25,0,0,0,0,2023-09

In [ ]:
from functools import reduce


super_dfs = [temperatures, tornadoes, wildfires, hurricane]
result = reduce(lambda left, right: pd.merge(left, right, on='Date', how='inner'), super_dfs)
display(result)